*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: vazirmatn;
}

:root {
    --color-body-seconderi: #F7F7F7;
    --color-butteon:#448CF91A;
    --color-dark:#130505;
    --color-light-number:#9e9c9c;
    --color-body:#ffffff;
    --color-secondary:#2F0D0C;
    --color-primary:#CC312D;
    --color-font-btn:#2E7AF1;
    --color-light:#817d7d;
}

body {
    font-family: vazirmatn;
    background-color: var(--color-body)
}
 
html {
    font-size: 62.5%;
}

.btn {
    outline: 0;
    border: 0;
    border-radius:40px ;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--color-butteon);
   padding: 0.8rem 1.6rem;
   cursor: pointer;
   margin: 2.7rem;

}
.text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1rem;
    color: var(--color-font-btn);
}

.main {
    background-color: var(--color-body-seconderi);
    margin: 2rem ;
    width: 342px;
    display: grid;
    border-radius:2rem ;
    
}
 
.main__body {
    margin: 2rem;
}

.user {
    border-radius: 1.2rem;
    background-color: var(--color-body);
    padding: 1rem;

}

.informaition {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.information__text {
    padding:1rem ;
}

.name {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-dark);
}

.number {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-light-number);
}
.main__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1cfcf;
}
.pen {
    margin-left: 2rem;
    width: 24px;
}


.orders {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 4.4rem;
    margin: 1rem;
    
}
.home-happy {
    padding: 0.4rem;
    margin-right: 1rem;
}
.my__order {
    color: var(--color-body-seconderi);
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 0.5rem;
}
.User-information {
    display: flex;
    align-items: center;
    margin: 4rem 0.5rem;
    
}
.user-serach {
    margin-right: 2rem;
}
.accont {
    margin-right: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.messege__text {
    display: flex;
    align-items: center;
    margin:0 2rem;
}
.ringing {
    margin: 0.5rem;
}
.my__messege {
    margin-right: 0.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}
.messege__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.three {
    position: relative;
    background-color: #CC312D;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 2rem;
}
.number__three {
    position: absolute;
    top: 20%;
    left: 34%;
    color: var(--color-body);
}

.my-comments {
    display: flex;
    margin: 5rem 2.5rem;
    align-items: center;

}
.my-comments__text {
    margin-right: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.exit {
    display: flex;
    align-items: center;
    margin: 2rem 2.3rem;
    cursor: pointer;
}
.exit__text {
    margin-right: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

/* TASCBAR */
.tascbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 3rem;
    gap: 2rem;
    
}
.processing {
    display: flex;
    align-items: center;
    border: 1px solid #d1cfcf;
    border-radius: 2rem;
    justify-content: center;
    padding-left: 3rem;
    height: 84px;
    min-width:222px ;

    
}
.processing:hover {
    border-color: #CC312D;
}
.time-circle {
    background-color: var(--color-butteon);
    margin-right: 1rem;
    width: 56px;
    padding: 1.3rem;
    border-radius: 1rem;
}
.header__processing {
    margin-right: 1rem;
    
}
.name__processing {
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-light);

}
.number__processing {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-dark);
}

.chec-circle {
     background-color: var(--color-butteon);
    
    width: 56px;
    padding: 1.3rem;
    border-radius: 1rem;
}
.circle-u-turn-left {
  background-color: var(--color-butteon);
    width: 56px;
    padding: 1.3rem;
    border-radius: 1rem;
}
.Close-Circle {
  background-color: var(--color-butteon);
    width: 56px;
    padding: 1.3rem;
    border-radius: 1rem;
}

/* COD */

.cod__plan {
    display: grid;
   margin-right: 3rem;
  
}

.cod__request,
.cod__data {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-light);
    margin-bottom: 1.5rem;
   
}
.cod__number,
.data {
    color: var(--color-dark);
}

.mony {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-dark);
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.toman {
    font-size:1rem ;
    font-weight: 400;
    color: var(--color-light);
    margin-right: 0.5rem;
    
    
}

.content__block-footer {
    background-color: var(--color-body-seconderi);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    border-radius: 1.6rem;
}
.image__one,
.image__tow,
.image__three {
background-color: var(--color-body);
border-radius: 1.2rem;
width: 72px;
height: 72px;
padding: 1.4rem;
margin: 1rem;
box-shadow: 0 2px 6px var(--color-light)
}


 .detail {
    font-size:1.4rem ;
    font-weight: 700;
    color: var(--color-primary);
    margin-left: 1.5rem;
 }

 /* .container {
    display: flex;
 } */




@media screen and (max-width: 768px) {
    .tascbar {
    overflow: hidden;
    overflow: scroll;
    border-bottom: 1px solid #949191;
     max-width: 470px;
   min-width: 350px;
   
    }
    .processing {
        min-width:222px ;
        margin-bottom: 3rem;
    }
    .main {
        margin-right: 3rem;
    }
  .processing:hover {
    border-color: #CC312D;
}
 .content__block-footer {
    /* width:350px ; */
    height: 104px;
     
     margin-bottom: 4rem;
    
 }
 .image__one {
    z-index: 3;
}
 .image__tow {
margin-right: -2.5rem;
z-index: 2;
}
.image__three {
    margin-right: -2.5rem;
}

 .block__footer {
    position: relative;
display: flex;
 gap:-40rem ;
 }
 .cod {
   max-width: 500px;
   min-width: 350px;
    border-bottom: 1px solid #bab7b7;
    margin-bottom: 3rem;
    margin-right: 1rem;
 }
}




@media screen and (min-width: 769px) {
    .container {
        display: flex;
    }
   .processing:hover {
    border-color: #CC312D; 
}
.main {
    min-width: 310px;
    max-height: 520px;
    margin-top: 3rem;
}

.cod {
    border: 1px solid #dedede;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
    max-width: 950px;
    height:281px ;
    margin-right: 3rem;
    padding: 2rem;
   
    
}
.cod__plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cod__plan-data {
    display: flex;
    flex-direction: row-reverse;
 
}
.cod__block {
    margin-top: -2rem;
    margin-right: -2rem;
}

.cod__data {
    margin-right: 2rem;
}
}