*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: vazirmatn;
}

:root {
    --color-body-seconderi: #F7F7F7;
    --color-butteon:#448CF91A;
    --color-dark:#130505;
    --color-light-number:#9e9c9c;
    --color-body:#ffffff;
    --color-secondary:#2F0D0C;
    --color-primary:#CC312D;
    --color-font-btn:#2E7AF1;
    --color-light:#606060;
}

body {
    font-family: vazirmatn;
    background-color: var(--color-body)
}
 
html {
    font-size: 62.5%;
}

.btn {
    outline: 0;
    border: 0;
    border-radius:40px ;
    text-align: center;
    display: flex;
    background-color: var(--color-butteon);
   padding: 0.8rem 1.6rem;
   cursor: pointer;
    

}
img {
    width: 28px;
    height: 28px;
}
 .text {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-font-btn);
order: 2;
padding-right: 0.5rem;
padding-top: 0.5rem;

 }

 .container {
  width: 342px;
  height:520px;
 }
 
 .card  {
   
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 3rem;
    background-color: var(--color-body-seconderi);
 }
 
 .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-light);
    margin-top: -3rem;

 }
 .card__name {
    display: flex;
    /* margin-bottom: 1rem; */
    
 }
.user {
    border-radius: 8px;
   padding:1.2rem;
    background-color: var(--color-body);
width: 56px;
height: 56px;
    
}
 .pen {
    /* margin-bottom: 2rem; */
    margin-right: 3rem;
    
 }

.name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: 0.6rem;
    margin-top: 0.5rem;
}

.number{
    color: var(--color-light-number);
}


.name__number {
    margin-right: 1rem;
}

.card__shoping {
    background-color: var(--color-secondary);
    border-radius: 44px;
    display: flex;
    align-items: center;
    
    height: 52px;
  

}

.home-happy {
    width: 24px;
    height:24px;
   
   margin: 0 1.5rem;

}
.shoping {
    color: var(--color-body);
    font-size: 1.4rem;
    font-weight: 700;
    
}

.card__accont {
    display: flex;
    padding-right: 1.5rem;
    align-items: center;
    margin-top: -3rem;

}

.user-serch {
width: 24px;
height: 24px;
margin-left: 1.4rem;
}

.accont{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.card__massege {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}

.three {
    position: relative;
    background-color: var(--color-primary);
    border-radius: 100px;
    height: 20px;
    width: 20px;
    

}
.massege__three {
    position: absolute;
    top: 5%;
    left: 28%;
    font-size: 1.5rem;
    color: var(--color-body);
}

.massege-notification {
    display: flex;
    padding-right: 1.5rem;
    align-items: center;
    
}

.notification {
    width: 24px;
    height: 24px;
    margin-left: 1.4rem;
}

.massege {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.card__comment {
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.chat-bubble {
    width: 24px;
    height: 24px;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.comment {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.card__exit {
    display: flex;
    align-items: center;
}
.logout {
     width: 24px;
    height: 24px;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}
.card__exit {
      font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-dark);
}

.plan-content {
   max-width: 978px;
   /* margin: 0 auto; */


}
/* plan */
.plan {
   
    margin-right: 2rem;
}
.tascbar {
    display: grid;
    gap: 1rem;
    grid-template-columns:repeat(4, 1fr)


    

}

.processing,
.canceled,
.returned,
.delivered
 {
    border: 1px solid var(--color-light-number);
    border-radius: 11px;
    display: flex;
    align-items: center;
    height: 104px;
    margin-top: 2rem;
    width: 250px;
    
}
.time-circle {
    
    border-radius: 5px;
    background-color: var(--color-butteon);
    width: 60px;
    height:60px;
    padding:1rem;
    margin:2rem;
}

.name__processing {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-light);
    margin-bottom: 1.5rem;
}

.number__processing {
    font-size:1.6rem;
    font-weight: 600;
    color: var(--color-secondary);

}

.chec-circle {
    border-radius: 5px;
    background-color: #1BAC441A;
    width: 60px;
    height:60px;
    padding:1rem;
    margin:2rem;
}

.circle-u-turn-left {
    border-radius: 5px;
    background-color:#1717171A;
    width: 60px;
    height:60px;
    padding:1rem;
    margin:2rem;
}

.Close-Circle {
     border-radius: 5px;
    background-color:#E5303F1A;
    width: 60px;
    height:60px;
    padding:1rem;
    margin:2rem;
}
.content__block {
    border: 1px solid #EBEBEB;
    margin-bottom: 2rem;
    border-radius: 16px;
    
}
.content {
    margin: 2rem;
    width: 1034px;
}

.content__block-total {
    margin: 1rem 2rem;
}

.cod {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
    border-bottom: 1px solid #9e9c9c;


}

.cod__plan {
    display: inline-flex;

    
}

.cod__request,
.cod__data {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-light);
}
.cod__number,
.data {
    color: var(--color-dark);
}

.mony {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-dark);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.toman {
    font-size:1rem ;
    font-weight: 400;
    color: var(--color-light);
    margin-right: 0.6rem;
    
    
}
.content__block-footer {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-body-seconderi);
    margin-top: 3rem;
    border-radius: 16px;
    height: 104px;
   margin: 1.8rem 2rem;
    
    
    
}

.image__one,
.image__tow,
.image__three {
    background-color:var(--color-body);
    width: 72px;
    height: 72px;
    border-radius: 12px;
    padding: 1rem;
    margin-right: 2rem;
}


.detail {
    color: var(--color-primary);
    margin-left: 2rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .all {
        display: flex; 
    }
    .container {
        width: auto-fit;
    }
  

}

@media screen and (max-width:767px) {
    .body {
        display: grid;
        max-width: 538px;
    }
  
    .container {
        margin: 0 auto;
    }
    .card {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .plan {
        overflow: scroll;
    }
}